@model PizzaBox.Client.Models.PizzaViewModel;

@* future development *@

@{
  Layout = null;
}

<ul>
  @{
    foreach (var pizza in Model.Pizzas)
    {
      <p>Name:</p><li>@pizza.Name</li>
    }
  }
</ul>
