<h2>Welcome!</h2>

<p>
  Please select a Pizza!
</p>

<ul>
  <li>
    Home Slice
    <div>
      <a asp-action="OrderCheesePizza" asp-controller="Pizza">Order Cheese Pizza</a><br/>
      <a asp-action="OrderVeggiePizza" asp-controller="Pizza">Order Veggie Pizza</a><br/>
    </div>
  </li>
  <li>
    Pinthouse Pizza Co
    <div>
      <a asp-action="OrderPepperoniPizza" asp-controller="Pizza">Order Pepperoni Pizza</a><br/>
      <a asp-action="OrderHawaiianPizza" asp-controller="Pizza">Order Hawaiian Pizza</a><br/>
    </div>
  </li>
</ul>
